<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="test.Listeners" />
	</listeners>
	<test thread-count="5" name="cartPage">
		<classes>
			<class name="test.cartPage" />
		</classes>
	</test>
	<test thread-count="5" name="homePage">
		<classes>
			<class name="test.homePage" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
